# Config for authmysql.pl

# Format
# Label:Column

# Needed labels are User, Pass, DB, HOST, usercol, passcol and groupcol

# The Column refers to either the detalis needed to connect to the
# MySQL database or the column for the table.

DB:blah			# the database to connect to
HOST:localhost		# which host it resides on
TABLE:passwd		# the table to query against
User:foo		# who to connect as
Pass:bar		# pass for above

usercol:username	# column which containts the username
passcol:password	# column which includes unix crypt style password
