name          = ovsqlite
number        = 5
sources       = ovsqlite.c ovsqlite-private.c
extra-sources = ovsqlite-server.c sql-main.c sql-init.c sqlite-helper.c
programs      = ovsqlite-server ovsqlite-util
clean         = sqlite-helper-gen
maintclean    = sql-init.c sql-init.h sql-main.c sql-main.h
