##  Sample actsync.cfg configuration file.
##
##  It permits synchronizing, comparing, or merging active files.
##  It is useful for keeping the list of carried newsgroups up to date.
##  See the actsync manual page for more information.

host=downloads.isc.org
path=/pub/usenet/CONFIG/active.gz
protocol=https
flags=-v 0 -p 80
ignore_file=actsync.ign
