##  Workflow for GitHub Actions testing.

name: build

"on": [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      AUTHOR_TESTING: 1
      C_TAP_VERBOSE: 1

    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: install
        run: sudo -E ci/install
      - name: test
        run: ci/test
